@font-face {
    font-family: 'always';
    font-style: normal;
    font-weight: normal;
    src: url("../fontes/always-in-my-heart.ttf");
}
@font-face {
    font-family: "officina";
    font-style: normal;
    font-weight: normal;
    src: url("../fontes/OfficinaSerifITCTTBook.ttf");
}
body{
    margin: 0px;
}
div.site{
    margin: 0 auto;
    width: 1000px;
}
header#cabecalho{
    width: 100%;
    height: 300px;
    background-color: #D0DF79 !important;
    display: none;

}
.link-home{
    top: 15px;
    color: #000;
    margin-top: 12px;
    color:#4D5C63;
}
#home-page{
    height: 835px;
}
#error-perfil{
    text-align: center;
    margin-top: 55px;
    padding-bottom: 56px;
    clear: left;
    font-size: 23px;
}
#resultado{
    position: absolute;
    margin-left: 58%;
    margin-top: 39px;
    background-color: #D0DF79 !important;
    border-radius: 3%;
    padding: 2%;
    display: none;
    z-index: 999;
    border-right: 1px dashed #fff;
    border-left: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    width: 296px;
    background: #D0DF79;
    padding-left: 9px;
    min-height: 120px;
    padding-top: 3px;
    padding-right: 9px;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 1%;
}
.carrinho{
    background-color: #D0DF79 !important;
}
.um_quinto{
    width:9%;
    float: left;
    clear:left;
    margin-left:1%;
    background-color: #D0DF79 !important;
}
.um_quinto input{
    text-align: center;
    width: 25px;
}
.um_terco{
    color: #4D5C63;
    float: left;
    font-family: officina;
    font-size: 15px;
    line-height: 19px;
    margin-left: 5px;

    background-color: #D0DF79 !important;
    float: left;
    margin-left: 16px;
    margin-right: 1%;
    width: 60%;
}
#total,.envio{
    float: right;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
}
span#nuvem-esquerda{
    float: left;
}
span#nuvem-esquerda img{
    float: left;
    margin: 0 auto;
}
div#box-login{
    width: 150px;
    height: 35px;
    float: left;
    margin: 65px 180px 200px 180px;	
}
div#box-login p{
    color: white;
    font-size: 35px;
    text-align: center;
    width: 200px;
    font-family: always;
    margin-bottom: 5px;
    margin-top: 0px;
}
div#box-login input{
   width: 200px;
    height: 25px;
    margin-top: 12px;
    margin-bottom: 5px;
    border: none;
}
input#btn-login{
    background: url('../imagens/btn-login.png') no-repeat;

    height: 55px !important;
    width: 200px;
    margin-top: 10px;
    margin-left: 75px;

}
span#nuvem-direita{
    float: left;
    margin: 0 auto;
}
span#nuvem-direita img{
    float: left;
    margin: 0 auto;
}
div#btn-login{
    width: 200px;
    margin-top: 10px;
    margin-left: 75px;
}
div#btn-login img{
    width: 50px;
    margin: 0 auto;
}

/* FIM CABEÇALHO / INICIO FAIXA DO CABEÇALHO */

div#faixa-cabecalho{
    width: 100%;
    height: 185px;
}
div#faixa-cabecalho p,div#boas-vindas a{
    float: left;

}
div#faixa-cabecalho hr{
    float: left;
    margin: 5px;
    width: 0px;
    height: 15px;
}

/*Links do cabeçalho para animação*/
div#login-cadastro{
    background: url("../imagens/btn-logo-cadastro.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 70px;
    margin-left: 450px;
    margin-right: 165px;
    margin-top: 0;
    width: 138px;
}
div#login-cadastro a{
    font-family: always;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
    float: left;
    width: 132px;
    text-align: center;
}
div#login-cadastro-home{
    background: url("../imagens/btn-logo-cadastro.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 70px;
    margin-left: 450px;
    margin-right: 165px;
    margin-top: 0;
    width: 138px;
}
div#login-cadastro-home a{
    font-family: always;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
    float: left;
    width: 132px;
    text-align: center;
}
#link-perfil{
    list-style: none;
    width: 400px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
div#boas-vindas a{
    float: left;
    font-size: 20px;
    margin-left: 9px;
    text-decoration:none;
    margin-top: 12px;
}
p#ola,div#boas-vindas a{
    font-family: always;
    float: left;
    font-size: 35px;
    margin-top: 0px !important;
    margin-right: 15px;
    color: #495D5E;
}
div#container-sacola{
    float: right;
    height: 150px;
    margin-top: -30px;
    width: 235px;
    margin-right: 22px;

}
div#sacola{
    float: left;
    margin: 45px 0px 0px 51px;
    background-color: #D0DF79;
    width: 205px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
}

div#marca {	
    float: left;
    margin-right: 208px;
    margin-top: 20px;
}
div#boas-vindas{
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 400px;
}
div#sacola img{
    float: left;
    margin: 2px 7px 0px 15px;
    width: 19px;
}
div#sacola p{
    margin-top: 5px;
}
div#container-sacola-home{
    float: left;
    height: 117px;
    margin-bottom: 15px;
    margin-left: 383px;
    width: 235px;
}
div#sacola-home{
    float: right;
    background-color: #D0DF79;
    width: 160px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
}
div#sacola-home img{
    float: left;
    margin: 2px 7px 0px 15px;
    width: 20px;
}
div#sacola-home p{
    margin-top: 5px;
}
div#box-menu{
    background-color: #D0DF79;
    height: 179px;
    margin-top: 0;
    width: 100%;
}
div#box-menu2{
    width: 100%;
    height: 179px;
    background-color: #D0DF79;
    margin-top: -59px;
}
div#box-menu-3{
    background-color: #D0DF79;
    height: 265px;
    margin-bottom: 30px;
    width: 100%;
}
div#box-menu-3 h1.title-page-categorias{
    background-color: #D0DF79;
    color: #FFFFFF;
    float: left;
    font-family: always;
    font-size: 95px;
    font-weight: normal;
    margin-top: 20px !important;
    text-align: center;
    width: 100%;
}
.submenu-list{
    width: 775px;
    float: right;
    text-align: center;
}
nav#menu{
    background-color: #F5F9EB;
    border-radius: 7px;
    float: left;
    height: 62px;
    margin: -34px 0 30px 225px;
    width: 775px;
}
div#borda-menu{
    border: 2px dashed #D0DF79;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: -5px;
    margin-bottom: 0px;
    padding: 9px;
    width: 720px;
}
nav#menu a{
    color: #4C5D65;
    margin: 0 35px;
    text-decoration: none;
    font-family: officina;
}
a.ativo:hover{
    color:  #D2DE8C !important;
}

a.ativo{
    background-color: #495D5E !important;
    border-bottom: 2px dashed #D0DF79;
    border-top: 2px dashed #D0DF79;
    color: #D0DF79 !important;
    padding: 10px 50px !important;
}
/*
nav#menu a#bebe:hover{
        color:  #D2DE8C;
}
a#bebe{
        background-color: #495D5E;
        padding: 22px 50px 22px 50px;
        color: #D0DF79 !important; 
}*/
nav#menu a.menu-efeito:hover{
    color:  #D2DE8C;
}
nav#menu-bebe{
    background-color: #F5F9EB;
    border-radius: 7px;
    float: left;
    height: 62px;
    margin: -31px 0 0 225px;
    width: 775px;
}
div#borda-menu-bebe{
    border: 2px dashed #D0DF79;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: -5px;
    margin-bottom: 0px;
    padding: 9px;
    width: 720px;
}
nav#menu-bebe a{
    color: #4C5D65;
    margin: 0 35px;
    text-decoration: none;
    font-family: officina;
}
nav#menu-bebe a#bebe:hover{
    color:  #D2DE8C;
}/*
a#bebe{
        background-color: #495D5E;
        padding: 22px 50px 22px 50px;
        color: #D0DF79 !important; 
}*/
nav#menu-bebe a#menino:hover{
    color:  #D2DE8C;
}
nav#menu-bebe a#menina:hover{
    color:  #D2DE8C;
}
nav#menu-bebe a#sapato:hover{
    color:  #D2DE8C;
}
nav#menu-bebe a#acessorios:hover{
    color:  #D2DE8C;
}

/* FIM DA FAIXA CABEÇALHO / INICIO DO CONTEÚDO */

div#conteudo{
    width: 100%;
    background-color: #F5F9EB;
}
div#box-imagens{
    width: 1000px;
    padding: 70px 0px 70px 0px;
    margin: 5 auto;
}
div.categorias-lista img{
    width:185px !important;
    height:185px !important;
}
div#conteudo-bebe{
    width: 100%;
    height: 830px;
    background-color: #F5F9EB;
}
div#box-imagens-bebe{
    width: 1000px;
    float: left;
    height: 835px;
    margin-top: -150px;
}
div#box-imagens-bebe img{
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
div#box-imagens-bebe img{
    margin-right: 5px;
    margin-top: 5px;
    width: 242px;
}

div#body-nome{
    color: #FFFFFF;
    font-family: always;
    font-size: 48px;
    font-weight: normal !important;
    text-align: center;
}

#body-nome > h1{
    margin-top: 0;
    /*padding-top: 88px;*/
    clear: both;
}

#submenu{
    float: right;
height: 22px;
width: 775px;
}

/*
h1#body-nome{
    background-color: #D0DF79;
    color: #FFFFFF;
    font-family: always;
    font-size: 95px;
    font-weight: normal;
    height: 160px;
    text-align: center;
}
*/
div#box-slide{
    float: left;
    height: 758px;
    width: 550px;
}
div#box-slide img{
    display: block;
    height: 755px;
    top: 0;
    width: 550px;
    z-index: 3;
}

div#feature{
    float: left;
    height: 758px;
    width: 550px;
}

p#tarja {
    background-color: #D0DF79;
    color: #4D5C63;
    display: block;
    float: left;
    font-family: always;
    font-size: 45px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    width: 425px;
    padding: 10px;

}
div#box-sessao-direita{
    float: left;
    height: 670px;
    margin-left: 10px;
    width: 454px;
}
.right .btn{
    background: #4D5C63;
    color: #FFF;
    font-family: officina;
    border:none;
    padding: 5px;
}
img.container1{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 9px;
    width: 215px;
    margin-bottom: 9px;
    height: 176px;

}
img#container3{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 92%;
}

/* FIM DO CONTEÚDO / INÍCIO DO RODAPÉ */

div#logos{
    border-top: dashed;
    border-width: 2px;
    border-color: #D0DF79;
    border-spacing: 2px;
    background-color: #fafafa;
    height: 250px;
}
div#logos img{
    width: 100%;
    margin-top: 20px;
}
div#rodape-topo{
    width: 100%;
    height: 37px;
    background: url("../imagens/footer.png") repeat-x;
    margin-top: -30px;
}
div#rodape-baixo{
    height: 280px;
    background-color: #D0DF79;
}
div.creditos{
    float: left;
    margin-right: 58px;
}
div.creditos h2{
    font-family: always;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    color: #4D5C63;
}
div.creditos li{
    list-style: none;
    margin-bottom: 0px;
}
div.creditos a{
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
    color: #4D5C63;
}
div.creditos ul{
    padding: 0px;
}
div#redes-sociais{
    width: 0px;
    margin-right: 59px;
}
#cadastro{
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    color: #4D5C63;
}
#cadastro input#email{
    width: 250px;
    height: 25px;
    border: none;
    margin-top: 10px;
}
#cadastro p{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: always;
    font-size: 23px;
}
#botao{
    width: 35px;
    height: 25px;
    background-color: #2D4A83;
    color: white;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
div#linha{
    float: left;
    width: 100%;
    margin-top: 50px;
    border: solid 1px;
    border-color: #4D5C63;
}
div#direito-de-copia{
    float: left;
    width: 950px;
    font-family: officina;
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
    color: #4D5C63; 
}
div#direito-de-copia p{
    margin-left: 100px;
}
div#logo-k{
    float: left;
    width: 50px;
}
div#logo-k img{
    float: right;
    margin-top: 10px;
}


/*Orbit Slider*/
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
#featured { 
    width: 940px;
    height: 450px;
    background: #000 url('orbit/loading.gif') no-repeat center center;
    overflow: hidden; }
#featured>img,  
#featured>div,
#featured>a { display: none; }




/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 550px;
    height: 629px;
    float: left; 
    position: relative;}

div.orbit {
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(../imagens/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(../imagens/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imagens/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(../imagens/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -50px;
    cursor: pointer; }

div.slider-nav span.right {
    background: url(../imagens/right-arrow.png);
    right: 0; }

div.slider-nav span.left {
    background: url(../imagens/left-arrow.png);
    left: 0; }

/* BULLET NAV
   ================================================== */

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    bottom: 365px;
    left: 4%;
    margin-left: -50px;
    padding: 0; }

.orbit-bullets li {
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../imagens/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }

.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }

/*Cadastro de Clientes*/
div.form-cadastro-clientes{
    width: 100%;
    height: 590px;
}
div.form-cadastro-clientes .item-valid{
    color: red!important;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    border: 1px dashed red;
    padding: 5px;
    margin: 0px;
}
.input.btn-add-cart{
    cursor: pointer!important;
}
div#box-menu-two{
    width: 100%;
    height: 145px;
    background-color: #D0DF79;
    margin-top: 50px;
}

p#title-dados-pessoais{
    font-family: always;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    width: 500px;
    color: #4D5C63;
}
div.form-cadastro-clientes input[type="text"], input[type="password"]{
    width: 450px;
    float: left;
    height: 25px;
    margin: 0px 0px 20px 0px;
}
div.form-cadastro-clientes .left{float: left; width: 450px;}
div.form-cadastro-clientes .right{float: left; width: 450px; margin:0px 0px 0px 99px;}
#inpt-cadastrar{
    background: #4D5C63;
    color: #FFF;
    padding: 6px;
    font-size: 16px;
    font-family: officina;
    border: none;
    float: right;
}


/*Cadastro de Clientes*/
div.form-cadastro-clientes{
    width: 100%;
    min-height: 450px;
}
div#box-menu-two{
    width: 100%;
    height: 145px;
    background-color: #D0DF79;
    margin-top: 50px;
}

p#title-dados-pessoais{
    font-family: always;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    width: 500px;
    color: #4D5C63;
}
div.form-cadastro-clientes input[type="text"], input[type="password"]{
    width: 450px;
    float: left;
    height: 25px;
    margin: 0px 0px 20px 0px;
}
div.form-cadastro-clientes .left{float: left; width: 450px;}
div.form-cadastro-clientes .right{float: left; width: 450px; margin:0px 0px 0px 99px;}
#inpt-cadastrar{
    background: #4D5C63;
    color: #FFF;
    padding: 6px;
    font-size: 16px;
    font-family: officina;
    border: none;
    float: right;
}

/*perfil do cliente*/
div.page-perfil{
    height: 850px;
}
div.last-compras{
    width: 100%;
    height: 160px;
    float: left;
}

div.last-compra table{
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
}

/*termos*/
div.termos-page{
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
    padding: 35px 35px;
}

#redes_sociais{
    width: 85px;
}
div#content_submenu{
    width: 775px;
    float: right;
}

.submenu-list a{
    display: block;
    float: left;
    margin-left: 5px;
    padding: 6px;
    border: 1px dashed #FFFFFF;
    color: #D0DF79!important;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
    background-color: #495D5E;
    margin-top: -20px;

}
.right .radio {
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
}
.right .radio a{
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
}
/*Carrinho Estilo CSS*/

#carrinho-titulo-content{
    font-family: always;
    font-size: 23px;
    color: #4D5C63;
    margin: 0px;
    margin-bottom: 14px;

}
.content-carrinho{
    width: 296px;
    background: #D0DF79;
    padding-left: 9px;
    min-height: 120px;
    padding-top: 3px;
    padding-right: 9px;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 4%;
}
.col-unidade-title{
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    width: 30px;
    float: left;
}
.col-descricao-title{
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    width: 187px;
    float: left;
    margin: 0px 12px 0px 0px;
    display: inline;

}
.col-preco-title{
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    width: 37px;
    float: left;
    display: inline;

}
.div-carrinho{
    width: 100%;
    height: 1px;
    float: left;
    margin: 6px 0px 12px 0px;
    border-top: 1px dashed #4D5C63;
}
.item-quantidade{
    width: 27px;
    height: 30px;
    float: left;
    background: #FFF;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
}
.item-descricao{
    margin-left: 5px;
    width: 192px;
    float: left;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    line-height: 15px;
}
.item-valor{
    float: left;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
}
#btn-content-checkout{
    float: left;
    width: 80px;
}
#valor-total{
    float: right;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;

}
.btn-chekout{
    background: #4D5C63;
    border: none;
    color: #FFF;
    padding: 2px;
    font-family: officina;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    float: right;
}
.clear-line{clear: both; height: 8px;}

.right .rigth {
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
}
div#boas-vindas #un-login{
    margin: 0px;
    float: left;
    padding-top: 11px;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
    margin-left: 10PX;  
}
.accordion{
    overflow-y: scroll;
    height: 675px;
}
.envio{
	float:right;
}
.lista-compras,.lista-compras>div>a,input{
    color:#4D5C63;
    font-family: officina;
    font-size: 15px;

}
.lista-compras{
    border-bottom:1px dotted #4D5C63;
    padding-bottom: 20px;
    line-height: 24px
}
.text-center{
    text-align:center;
    margin-bottom:0px;
}
.tamanhos-roupas,.estoque,.estoque_label{
    font-family: "officina";
    color: #4C5D65;
}
.tamanhos-roupas{
    font-size: 18px;
    height: 266px;
    overflow-y: auto;
}
.estoque,.estoque_label{
    font-size: 16px;
}
.estoque{
    float:left;
    clear:left;
    margin-bottom: 7px;
    margin-top: 8px;
}
.estoque_label{
    line-height: 28px;
}