<form action='http://localhost/olafafa/retorno.php' method='post'>
	<input type='text' value='teste'/>
	<input type='text' value='165' name='Referencia'/>
	<input type='text' value='Aprovado' name='StatusTransacao'/>
	<input type='submit' value='enviar'/>
</form>
