@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
  padding-top: 60px;
}
.organiza{
	margin-top:24px;
}
.mg-right-5{
	margin-right: 5px;
}
.margin-top-0{
	margin-top:0!important;
}
