@font-face {
    font-family: 'always';
    font-style: normal;
    font-weight: normal;
    src: url("../fontes/always-in-my-heart.ttf");
}
@font-face {
    font-family: "officina";
    font-style: normal;
    font-weight: normal;
    src: url("../fontes/OfficinaSerifITCTTBook.ttf");
}
body{
    margin: 0px;
}
div.site{
    margin: 0 auto;
    width: 1000px;
}
.arquivos{
    width:100px;
}
img.container1{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 9px;
    width: 216px !important;
    height:201px !important;
}
#resultado{
    position: absolute;
    margin-left: 48%;
    margin-top: 3%;
    background-color: #D0DF79 !important;
    border-radius:3%;
    padding: 2%;
    display:none;
    z-index: 999;
    border-right: 1px dashed #fff;
    border-left: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
        width: 296px;
        background: #D0DF79;
        padding-left: 9px;
        min-height: 120px;
        padding-top: 3px;
        padding-right: 9px;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 1%;
}
.carrinho{
    background-color: #D0DF79 !important;
}
.um_quinto{
    width:9%;
    float: left;
    clear:left;
    margin-left:1%;
      background-color: #D0DF79 !important;
}
.um_quinto input{
    text-align: center;
    width: 25px;
}
.um_terco{
    color: #4D5C63;
    float: left;
    font-family: officina;
    font-size: 15px;
    line-height: 19px;
    margin-left: 5px;

    background-color: #D0DF79 !important;
    float: left;
    margin-left: 16px;
    margin-right: 1%;
    width: 60%;
}
#total{
    float: right;
    color: #4D5C63;
    font-family: officina;
    font-size: 15px;
}
header#cabecalho{
    width: 100%;
    height: 300px;
    background-color: #D0DF79;
    display: none;
}
span#nuvem-esquerda{
    float: left;
}
span#nuvem-esquerda img{
    float: left;
    margin: 0 auto;
}
div#box-login{
    width: 150px;
    height: 35px;
    float: left;
    margin: 65px 180px 200px 180px;	
}
div#box-login p{
    color: white;
    font-size: 35px;
    text-align: center;
    width: 200px;
    font-family: always;
    margin-bottom: 5px;
    margin-top: 0px;
}
div#box-login input{
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
    border: none;
}
span#nuvem-direita{
    float: left;
    margin: 0 auto;
}
span#nuvem-direita img{
    float: left;
    margin: 0 auto;
}
input#btn-login{
    background: url('../imagens/btn-login.png') no-repeat;

    height: 55px !important;
    width: 200px;
    margin-top: 10px;
    margin-left: 75px;

}

div#btn-login img{
    width: 50px;
    margin: 0 auto;
}

header#faixa-cabecalho{
    width: 100%;
    height: 185px;
}
header#faixa-cabecalho p{
    float: left;

}
header#faixa-cabecalho hr{
    float: left;
    margin: 5px;
    width: 0px;
    height: 15px;
}
.cls-formas-envio{
    display:none;
}
/*Links do cabeçalho para animação*/
div#login-cadastro{
    background: url("../imagens/btn-logo-cadastro.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 70px;
    margin-left: 450px;
    margin-right: 165px;
    margin-top: 0;
    width: 138px;
}
div#login-cadastro a{
    font-family: always;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
    float: left;
    width: 132px;
    text-align: center;
}

div#boas-vindas a{
    float: left;
    font-size: 20px;
    margin-left: 9px;
    margin-top: 12px;
}
p#ola{
    font-family: always;
    float: left;
    font-size: 35px;
    margin-top: 0px !important;
    margin-right: 15px;
    color: #495D5E;
}
div#container-sacola{
	float: right;
	height: 150px;
	margin-top: -30px;
	width: 235px;
	margin-right: 22px;
}
div#sacola{
	float: left;
	margin: 45px 0px 0px 90px;
	background-color: #D0DF79;
	width: 168px;
	height: 25px;
	border-radius: 5px;
	font-size: 12px;
}
	
div#marca {	
	float: left;
    margin-right: 260px;
    margin-top: 20px;
}
div#boas-vindas{
	float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 250px;
}
div#sacola img{
    float: left;
    margin: 2px 7px 0px 15px;
    width: 20px;
}
div#sacola p{
    margin-top: 5px;
}
div#box-menu{
    width: 100%;
    height: 300px;
    background-color: #D0DF79;
    margin-top: 50px;
}
div#box-menu2{
    width: 100%;
    height: 160px;
    background-color: #D0DF79;
    margin-top: 50px;
}

nav#menu{
    background-color: #F5F9EB;
    border-radius: 7px;
    float: left;
    height: 62px;
    margin: -31px 0 0 225px;
    width: 775px;
}
div#borda-menu{
    border: 2px dashed #D0DF79;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: -5px;
    margin-bottom: 0px;
    padding: 9px;
    width: 720px;
}
nav#menu a{
    color: #4C5D65;
    margin: 0 35px;
    text-decoration: none;
    font-family: officina;
}
/*nav#menu a#bebe:hover{
        color:  #D2DE8C;
}
a#bebe{
        background-color: #495D5E;
        padding: 22px 50px 22px 50px;
        color: #D0DF79 !important; 
}*/
div#faixa-cabecalho{
    width: 100%;
    height: 185px;
}
div#faixa-cabecalho p{
    float: left;

}
div#faixa-cabecalho hr{
    float: left;
    margin: 5px;
    width: 0px;
    height: 15px;
}
div#login-cadastro-home{
    background: url("../imagens/btn-logo-cadastro.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 70px;
    margin-left: 450px;
    margin-right: 165px;
    margin-top: 0;
    width: 138px;
}
div#login-cadastro-home a{
    font-family: always;
    color: #FFFFFF;
    font-size: 21px;
    text-decoration: none;
    float: left;
    width: 132px;
    text-align: center;
}
div#boas-vindas{
    float: left;
    margin-bottom: 20px;
    margin-right: 125px;
    margin-top: 50px;
    width: 250px;
}
div#boas-vindas a{
    float: left;
    font-size: 20px;
    margin-left: 9px;
    margin-top: 12px;
}
div#marca{
    float: left;
    margin-right: 260px;
}

a.ativo:hover{
    color:  #D2DE8C !important;
}

a.ativo{
	background-color: #495D5E !important;
    border-bottom: 2px dashed #D0DF79;
    border-top: 2px dashed #D0DF79;
    color: #D0DF79 !important;
    padding: 10px 50px !important;
}
nav#menu a#menino:hover{
    color:  #D2DE8C;
}
nav#menu a#menina:hover{
    color:  #D2DE8C;
}
nav#menu a#sapato:hover{
    color:  #D2DE8C;
}
nav#menu a#acessorios:hover{
    color:  #D2DE8C;
}

/* FIM DA FAIXA CABEÇALHO / INICIO DO CONTEÚDO */

div#conteudo{
    width: 100%;
    height: 830px;
    background-color: #F5F9EB;
}
div#box-imagens{
    width: 1100px;
    float: left;
    height: 835px;
    margin-top: -150px;
}
div#box-imagens img{
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
div#box-imagens img{
    margin-right: 5px;
    margin-top: 5px;
    width: 242px;
}
h1#body-nome{
    text-align: center;
    font-size: 95px;
    font-family: always;
    color: #ffffff;
    margin-top: 0px;
    font-weight: normal;
}

/* FIM DO CONTEÚDO / INÍCIO DO RODAPÉ */

div#logos{
    border-top: dashed;
    border-width: 2px;
    border-color: #D0DF79;
    border-spacing: 2px;
    background-color: #fafafa;
    height: 250px;
}
div#logos img{
    width: 100%;
    margin-top: 20px;
}
div#rodape-topo{
    width: 100%;
    height: 37px;
    background: url("../imagens/footer.png") repeat-x;
    margin-top: -30px;
}
div#rodape-baixo{
    height: 350px;
    background-color: #D0DF79;
}
div.creditos{
    float: left;
    margin-right: 58px;
    margin-bottom: 15px;
}
div.creditos h2{
    font-family: always;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    color: #4D5C63;
}
div.creditos li{
    list-style: none;
    margin-bottom: 0px;
}
div.creditos a{
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
    color: #4D5C63;
}
div#redes-sociais{
    width: 0px;
    margin-right: 59px;
}
div.creditos ul{
    padding: 0px;
}
#cadastro{
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    color: #4D5C63;
}
#cadastro input#email{
    width: 250px;
    height: 25px;
    border: none;
    margin-top: 10px;
}
div#cadastro p{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: always;
    font-size: 23px;
}
#botao{
    width: 35px;
    height: 25px;
    background-color: #2D4A83;
    color: white;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
div#linha{
    float: left;
    width: 100%;
    margin-top: 50px;
    border: solid 1px;
    border-color: #4D5C63;
}
div#direito-de-copia{
    float: left;
    width: 950px;
    font-family: officina;
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
    color: #4D5C63; 
}
div#direito-de-copia p{
    margin-left: 100px;
}
div#logo-k{
    float: left;
    width: 50px;
}
div#logo-k img{
    float: right;
    margin-top: 10px;
}





/*Vinicius*/



/*Detalhes*/
div.page-left-ampl{
    float: left;
    width: 567px;
    height: 568px;
    background: #666;
    margin-top: 75px;
}
div.page-right-desc{
    width: 400px;
    height: 200px;
    float: left;
    margin-top: 57px;
    margin-left: 17px;
}
div.page-right-desc h2{
    font-family: "officina";
    color: #4C5D65;
    font-size: 19px;
}
div.page-right-desc hr{
    background: #4C5D65;
}
div.page-right-desc .preco-list{
    color: #4C5D65;
    font-size: 16px;
    font-family: "officina";

}

span.top-desc{
    display: block;
    background: url('../imagens/desc-top.png');
    width: 401px;
    height: 57px;
}
.content-detalhes{
    background: #4C5D65;
    width: 358px;
    padding: 20px;
    font-family: "officina";
    color: #FFF;

}


input.btn-add-cart{
    display: block;
    width: 245px;
    height: 45px;
    background: url('../imagens/btn-add-cart.png');
    float: right;
    margin-top: 20px;
    border:none;
    cursor: pointer;
}
a.btn-chekout{
        background: #4D5C63;
        border: none;
        color: #FFF;
        padding: 2px;
        font-family: officina;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        float: left;
}


/*Cadastro de Clientes*/
div.form-cadastro-clientes{
	width: 100%;
	min-height: 450px;
}
div#box-menu-two{
	width: 100%;
	height: 145px;
	background-color: #D0DF79;
	margin-top: 50px;
}

p#title-dados-pessoais{
   font-family: always;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    width: 500px;
    color: #4D5C63;
}
div.form-cadastro-clientes input[type="text"], input[type="password"]{
	width: 450px;
	float: left;
	height: 25px;
	margin: 0px 0px 20px 0px;
}
div.form-cadastro-clientes .left{float: left; width: 450px;}
div.form-cadastro-clientes .right{float: left; width: 450px; margin:0px 0px 0px 99px;}
#inpt-cadastrar{
	background: #4D5C63;
	color: #FFF;
	padding: 6px;
	font-size: 16px;
	font-family: officina;
	border: none;
	float: right;
}

/*perfil do cliente*/
div.page-perfil{
	height: 850px;
}
div.last-compras{
	width: 100%;
	height: 160px;
	float: left;
}

div.last-compra table{
	color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
}

/*termos*/
div.termos-page{
	height: 975px;
  	color: #4D5C63;
    font-family: officina;
    font-size: 15px;
    text-decoration: none;
}
