@font-face {
	font-family: 'always';
	font-style: normal;
	font-weight: normal;
	src: url("../fontes/always-in-my-heart.ttf");
}
@font-face {
	font-family: "officina";
	font-style: normal;
	font-weight: normal;
	src: url("../fontes/OfficinaSerifITCTTBook.ttf");
}
div.site{
	margin: 0 auto;
	width: 1000px;
}
body{
	margin: 0px;
	padding: 0px;
}

/* INICIO DO CABEÇALHO */

header#cabecalho{
	width: 100%;
	height: 300px;
	background-color: #D0DF79;

}
span#nuvem-esquerda{
	float: left;
}
span#nuvem-esquerda img{
	float: left;
	margin: 0 auto;
}
div#box-login{
	width: 150px;
	height: 35px;
	float: left;
	margin: 65px 180px 200px 180px;	
}
div#box-login p{
	color: white;
	font-size: 35px;
	text-align: center;
	width: 200px;
	font-family: always;
	margin-bottom: 5px;
	margin-top: 0px;
}
div#box-login input{
	width: 200px;
	height: 25px;
	margin-bottom: 5px;
	border: none;
}
span#nuvem-direita{
	float: left;
	margin: 0 auto;
}
span#nuvem-direita img{
	float: left;
	margin: 0 auto;
}
div#btn-login{
	width: 200px;
	margin-top: 10px;
	margin-left: 75px;
}
div#btn-login img{
	width: 50px;
	margin: 0 auto;
}

/* FIM CABEÇALHO / INICIO FAIXA DO CABEÇALHO */

div#faixa-cabecalho{
	margin: 0 auto;
	width: 100%;
	height: 140px;	
}
div#marca{
	margin-right: 165px;
	float: left;
}
div#login-cadastro{
	margin-right: 165px;
	margin-left: 168px;
	float: left;
	width: 138px;
	background: url("../imagens/btn-logo-cadastro.png") no-repeat;
	height: 117px;
}
div#login-cadastro a{
	font-family: always;
	color: #FFFFFF;
	font-size: 21px;
	text-decoration: none;
	float: left;
	width: 132px;
	text-align: center;
}
div#container-sacola{
	width: 235px;
	height: 117px;
	float: left;
}
div#sacola{
	float: left;
	margin: 45px 0px 0px 90px;
	background-color: #D0DF79;
	width: 160px;
	height: 25px;
	border-radius: 5px;
}
div#sacola img{
	float: left;
	margin: 2px 7px 0px 15px;
	width: 20px;
}
div#faixa-cabecalho p{
	float: left;
	margin: 6px 4px 0px 4px;
	font-size: 10px;
}
div#faixa-cabecalho hr{
	float: left;
	margin: 5px;
	width: 0px;
	height: 15px;
}
nav#menu{
	float: left; 
	width: 775px;
	height: 75px;
	background-color: #F5F9EB;
	margin: -25px 0px 25px 235px;
	border-radius: 7px;
}
div#borda-menu{
	border: 2px dashed #D0DF79;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: -5px;
    padding: 15px;
    width: 715px;
}
nav#menu a{
	text-decoration: none;
	color: #4C5D65;
	margin: 0px 40px 0px 40px;
}
nav#menu a#bebe:hover{
	color:  #D2DE8C;
}
nav#menu a#menino:hover{
	color:  #D2DE8C;
}
nav#menu a#menina:hover{
	color:  #D2DE8C;
}
nav#menu a#sapato:hover{
	color:  #D2DE8C;
}
nav#menu a#acessorios:hover{
	color:  #D2DE8C;
}

/* FIM DA FAIXA CABEÇALHO / INICIO DO CONTEÚDO */

div#conteudo{
	width: 100%;
	height: 975px;
	background-color: #F5F9EB;
}
div#box-imagens{
	width: 1100px;
	height: 835px;
	margin: 0 auto;
}
div#box-slide{
	float: left;
	height: 758px;
	width: 550px;
}
div#box-slide img{
	display: block;
    height: 755px;
    top: 0;
    width: 550px;
    z-index: 3;
}
p#tarja {
	background-color: #D0DF79;
    color: #4D5C63;
    display: block;
    float: left;
    font-family: always;
    font-size: 45px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    width: 425px;
    padding: 10px;

}
div#box-sessao-direita{
	float: left;
    height: 670px;
    margin-left: 10px;
    margin-right: 13px;
    width: 486px;
}
img.container1{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 9px;
    width: 218px;
}
img#container3{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 92%;
}

/* FIM DO CONTEÚDO / INÍCIO DO RODAPÉ */

div#logos{
	border-top: dashed;
	border-width: 2px;
	border-color: #D0DF79;
	border-spacing: 2px;
	background-color: #fafafa;
	height: 250px;
}
div#logos img{
	width: 100%;
	margin-top: 20px;
}
div#rodape-topo{
	width: 100%;
	height: 38px;
	background: url("../imagens/footer.png") repeat-x;
	margin-top: -30px;
}
div#rodape-baixo{
	height: 250px;
	background-color: #D0DF79;
}
div.creditos{
	float: left;
	margin-right: 59px;
}
div.creditos h2{
	font-family: always;
	font-size: 35px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	color: #4D5C63;
}
div.creditos li{
	list-style: none;
	margin-bottom: 0px;
}
div.creditos a{
	font-family: officina;
	font-size: 15px;
	text-decoration: none;
	color: #4D5C63;
}
div.creditos ul{
	padding: 0px;
}
div#cadastro{
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	color: #4D5C63;
}
div#cadastro input#email{
	width: 250px;
	height: 25px;
	border: none;
	margin-top: 10px;
}
div#cadastro p{
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: always;
	font-size: 23px;
}
input#botao{
	width: 35px;
	height: 25px;
	background-color: #2D4A83;
	color: white;
	border: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
div#linha{
	float: left;
	width: 100%;
	margin-top: 50px;
	border: solid 1px;
	border-color: #4D5C63;
}
div#direito-de-copia{
	float: left;
	width: 950px;
	font-family: officina;
	font-size: 14px;
	margin-top: 12px;
	text-align: center;
	color: #4D5C63; 
}
div#direito-de-copia p{
	margin-left: 100px;
}
div#logo-k{
	float: left;
	width: 50px;
}
div#logo-k img{
	float: right;
	margin-top: 10px;
}


/*Orbit Slider*/
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
#featured { 
	width: 940px;
	height: 450px;
	background: #000 url('orbit/loading.gif') no-repeat center center;
	overflow: hidden; }
#featured>img,  
#featured>div,
#featured>a { display: none; }




/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 550px;
    height: 629px;
    float: left; 
    position: relative;}

div.orbit {
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(../imagens/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(../imagens/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imagens/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(../imagens/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
	text-align: center;
	padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -50px;
    cursor: pointer; }

div.slider-nav span.right {
    background: url(../imagens/right-arrow.png);
    right: 0; }

div.slider-nav span.left {
    background: url(../imagens/left-arrow.png);
    left: 0; }

/* BULLET NAV
   ================================================== */

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    bottom: 365px;
    left: 4%;
	margin-left: -50px;
    padding: 0; }

.orbit-bullets li {
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../imagens/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
    
.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
