.mg-left-3{
    margin-left:3%;
}
.mg-left-16{
    margin-left: 16%;
}
.imagem{
    float:left;
    margin-right:20px;
}
.mg-left-29{
    margin-left:29%;
    margin-top:20%;
}
.btn-danger .tooltip .tooltip-inner{
color: #ffffff;
background-color: #e74c3c;
}
#resultado .col-sm-4{
    overflow: hidden;
}
.remove{
    display:block;
    width:15px;
    height:15px;
    float:right;
}
.foto img{
    width:304px;
    float:left;
}
.peq{
    font-size: 84%;
}
option{
    background-color: #48c9b0;
}
.mg-right-3{
    margin-right: 3%;
}
.width-50{
    width:50%;
}
.heigth-40{
    height:158px !important;
}
.right{
    float:right !important;
}
.no-bord{border:none !important;}
.clear-line{clear: both; height: 8px;}